@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

.font-caudex {
    font-family: 'Caudex', serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
